{% extends 'base.html' %}

{% block head %}
<title>About page</title>
{% endblock %}

{% block body %}
<div class="container jumbotron">
    <div class="h1">About Us</div>
    <hr>
    <div class="text-dark">
        &emsp;Welcome to our small 3D printing business! Although we may be small, we are enthusiastic and committed to
        making your 3D printing dreams come true. We provide a personalized experience with great attention to detail,
        which sets us apart from larger companies.
    </div>
</div>
{% endblock %}